// FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$base-font: 'Roboto';

// COLORS
$black: #000000;
$white: #FFFFFF;
$dark-grey: #303030;
$light-grey: #959588;
$blue-dc: #0282f9;